.speech {
    color: black;
    font-size: medium;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.stage-direction{
    color: black;
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
    background-color: lavender;
}
.stage-direction:hover{
    background-color: lightcoral;
}

.name{
    color: black;
    font-size: large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.name:hover{
    filter: drop-shadow(5px 5px 5px aquamarine);
}

.jack{
    color: lightskyblue;
}

.algernon{
    color: lime;
}

.lane{
    color: peachpuff;
}

table, th, td {
    border: 1px solid black;
    padding: 1em;
}

